<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ABOUT: {{ CompanyName }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        #main {
            max-width: 60%;
            margin: auto;
            text-align:center;
            margin-top: 50px;
        }

        .dbpedia-icon {
            width: 48px;
        }
    </style>
</head>
<body>

    <div id="main" class="container">
        <h2>{{ CompanyName }}</h2>
        <img src="{{ Thumbnail }}">
        <p>{{ Abstract }}</p>

        <div id='detail-table'>
            <h5>Details about the company:</h5>
            <table class='table table-striped'>
                <thead>
                    <th scope="col">Property</th>
                    <th scope="col">Value</th>
                </thead>
                <tbody>

                    <tr>
                        <td><h6>Name</h6></td>
                        <td><h6>{{ CompanyName }}</h6></td>
                    </tr>

                    <tr>
                        <td><h6>Alternate Name</h6></td>
                        <td><h6>{{ AlternateName }}<img class='dbpedia-icon' src='https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1455620414/f513bez1ian1sphnmzxf.png'></h6></td>
                    </tr>

                    <tr>
                        <td><h6>Web Domain</h6></td>
                        <td><h6><a href="{{ WebDomain }}">{{ WebDomain }}</h6><a></td>
                    </tr>

                    <tr>
                        <td><h6>LinkedIn URL</h6></td>
                        <td><h6><a href="{{ LinkedinURL }}">{{ LinkedinURL }}</a></h6></td>
                    </tr>

                    <tr>
                        <td><h6>Founding Year</h6></td>
                        <td><h6>{{ FoundingYear }}</h6></td>
                    </tr>

                    <tr>
                        <td><h6>Founded By</h6></td>
                        <td>
                        {% for founder in FoundedBy %}
                            <h6><a href="{{ founder }}">{{ founder }}</a></h6><img class='dbpedia-icon' src='https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1455620414/f513bez1ian1sphnmzxf.png'>

                        {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td><h6>Industries</h6></td>
                        <td>
                            <h6>{{ LocalIndustry }}</h6>
                            {% for industry in Industries %}
                            <h6><a href="{{ industry }}">{{ industry }}</a><img class='dbpedia-icon' src='https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1455620414/f513bez1ian1sphnmzxf.png'></h6>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <td><h6>Located in</h6></td>
                        <td><h6>{{ Locality }}</h6></td>
                    </tr>

                    <tr>
                        <td><h6>Country</h6></td>
                        <td><h6>{{ LocationCountry }}</h6></td>
                    </tr>

                    <tr>
                        <td><h6>Current Employee Estimate</h6></td>
                        <td><h6>{{ CurrEmployeeEst }}</h6></td>
                    </tr>
                    
                    <tr>
                        <td><h6>Total Employee Estimate</h6></td>
                        <td><h6>{{ TotalEmployeeEst }}</h6></td>
                    </tr>
                </tbody>
            </table>
        </div> 

    </div>
</body>
</html>

<!-- About: Name -->
<!-- Thumbnail -->
<!-- Abstract -->

<!-- 
CompanyName
Foaf:name
Linkedin
FoundingYear
FoundedBy
Industries
Locality
LocationCountry
CurrEmployeeEst
TotalEmployeeEst
-->