<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Search Page Helmi Alfarel</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        #main {
            max-width: 60%;
            margin: auto;
            text-align:center;
        }
        #search-option {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

    </style>


</head>
<body>
    <div id='main' class='container'>
        <div><h1 class='header'>Query Global Company</h1></div>
        <!-- <div id='search-option'>
            <h4>Query By:</h4>
            <input type="radio" id="query-by-name" name="query_type" value="name">
            <label for="query-by-name">Name </label><br>
            <input type="radio" id="query-by-country" name="query_type" value="country">
            <label for="query-by-country">Country </label><br>
        </div> -->
        <div id='search-input'>
            <form action="/" method="POST">
                {% csrf_token %}
                <h5>Cari Menggunakan Nama:</h5>
                <input type="hidden" name="query_type" value="name">
                <input name="query_input_name" type="text">
                <button type="submit">Cari Perusahaan</button>
            </form>

            <form action="/" method="POST">
                {% csrf_token %}
                <h5>Cari Menggunakan Country:</h5>
                <input type="hidden" name="query_type" value="country">
                <select name="query_input_country">
                    <option value="KOSONG">-Pilih-</option>
                    {% for country in list_country %}
                      <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Cari Perusahaan</button>
            </form>
        </div>
        
        {% if result %}
        <div id='result-table'>
            <h4>Query menggunakan {{ type }}: "{{ value }}"</h4>
            <h4>{{ company_list|length }} Companies Found</h4>
            <table class='table table-striped'>
                <thead>
                    <th scope="col">Company Name</th>
                </thead>
                <tbody>
                    {% for row in company_list %}
                    <tr>
                        <td><h5><a href="/resource/{{ row.CompanyIRI }}">{{ row.CompanyName }}</a></h5></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>       
        {% endif %}

    </div>
</body>
</html>


<!-- Query Global Company -->
<!-- Query By: Name, Country [Radio Button] -->
<!-- Input Field -->
<!-- Query Result: name=bla, Country=  -->
<!-- XX Found -->
<!-- No, Company Name -->